<h1>{{title}}</h1>
<div id="content">

    <user-form (updatePerson)="userUpdated($event)"></user-form>
    
    <user-list [userList]="nameList"></user-list>

</div>
<div id="footer">
    {{footer}}
</div>