<h1>{{title}}</h1>
<div id="content">

    <user-form [editPerson]="editedUser" (updatePerson)="userUpdated($event)"></user-form>
    
    <user-list [userList]="nameList" (editUser)="editUser($event)"></user-list>

</div>
<div id="footer">
    {{footer}}
</div>