<span>Zadaj meno</span>

<form #form="ngForm" (ngSubmit)="saveName()" *ngIf="newPerson">
	<md-input-container>
	    <input mdInput type="text" placeholder="meno" [(ngModel)]="newPerson.firstName" name="firstname" required/>
	</md-input-container>
	<md-input-container>
	    <input mdInput type="text" placeholder="priezvisko" [(ngModel)]="newPerson.lastName" name="lastname" required/>
	</md-input-container>
	<md-input-container>
	    <input mdInput type="text" placeholder="isic" [(ngModel)]="newPerson.isic" name="isic" />
	</md-input-container>
    <br/>
    <button type="submit" md-raised-button>uloz</button>
    <br/><br/>
</form>
