h1 { 
    color: blue; 
}
#footer { 
    font-size: 0.7em; 
    color: #999; 
}
#content { 
    background-color: #eee; 
}

.ng-valid {
    border-color: lightgreen;
}
.ng-invalid {
    border-color: red;
}
.ng-untouched {
    border-color: lightblue;
}